[submodule "elasticsearch"]
	path = elasticsearch
	url = git@github.com:BrisklyPapers/elasticsearch.git
[submodule "php"]
	path = php
	url = git@github.com:BrisklyPapers/php.git
[submodule "react"]
	path = react
	url = git@github.com:BrisklyPapers/react.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:BrisklyPapers/nginx.git
[submodule "socat"]
	path = socat
	url = git@github.com:BrisklyPapers/socat.git
[submodule "scan"]
	path = scan
	url = git@github.com:BrisklyPapers/scan.git
